[alias]
	co = checkout
	ci = commit -v
	ap = add -p
	aa = add -A
	pso = push origin
	amend = commit -v --amend
  plog = log --oneline
[core]
	editor = vim
[color "sh"]
	branch = black
	workdir = cyan
	upstream-state = cyan
