[alias]
	co = checkout
	ci = commit -v
	ap = add -p
	aa = add -A
	pso = push origin
	amend = commit -v --amend
    olog = log --oneline
    s = status --short
    d = diff
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	editor = vim
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[user]
    name = Salar Khan
    email = salar.k3@gmail.com
