[user]
	email = salar.k3@gmail.com
	name = salarkhan
[credential]
	helper = osxkeychain
[web]
	browser = open
[color]
	ui = auto
[core]
  editor = vim
[alias]
  olog = log --oneline
  s = status --short
